<div id="about-container">
    <h1>Credit to Shenles</h1>
    <p>The patron saint of getting good - Shenles - is the lab monster behind this data. Check out his YouTube channel!</p>
    <div id="youtube-container">
        <iframe width="100%"
            src="https://www.youtube.com/embed/videoseries?list=PLLND0G6ZDSetDKGYyUwFwkOhs-GojlSoO" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>

    <p>If you're looking to improve, he'd love to see you in his Discord channel: [Which I will provide a recruit link to once he gives me one]</p>

    <p>I'm Space(Robot). I made the app.</p>
</div>