<mat-drawer-container>
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Open Credits" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span>All Gaps - Mortal Kombat 11</span>
    </mat-toolbar>

    <mat-drawer #drawer mode="over">
        <button id="close-button" mat-button mat-icon-button aria-label="Close" (click)="drawer.close()">
            <mat-icon>close</mat-icon>
        </button>
        <app-about></app-about>
    </mat-drawer>

    <router-outlet></router-outlet>
</mat-drawer-container>
